<mat-toolbar color="primary" class="header" [class.is-mobile]="isMobile">
  <mat-toolbar-row class="header__toolbar">
    <span>{{ 'title' | translate }}</span>

    <div class="header__actions" *ngIf="!isMobile">
      <app-main-navigation></app-main-navigation>
      <app-language-switcher></app-language-switcher>
    </div>

    <button mat-icon-button aria-label="Toggle Menu" *ngIf="isMobile" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row class="header__dropdown" *ngIf="isMenuOpen && isMobile">
    <app-main-navigation [isMobile]="isMobile" class="header__main-navigation" (select)="toggleMenu()"></app-main-navigation>
    <app-language-switcher></app-language-switcher>
  </mat-toolbar-row>
</mat-toolbar>
