<form class="filter">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="..." [formControl]="searchQueryInput">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Columns</mat-label>
    <mat-select multiple [formControl]="columnsSelect">
      <mat-option *ngFor="let column of columns" [value]="column">
        {{column | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Genres</mat-label>
    <mat-select multiple [formControl]="genresSelect">
      <mat-option *ngFor="let genre of genres" [value]="genre.id">
        {{ genre.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
