<div *ngIf="movie" class="movie">
  <app-poster *ngIf="movie.poster_path" src="{{movie.poster_path}}" alt="{{movie.title}} poster" size="detail"></app-poster>
  <div>
    <h1 *ngIf="movie.title">{{ movie.title }}</h1>
    <p *ngIf="movie.tagline"><em>{{ movie.tagline }}</em></p>
    <p class="movie__overview" *ngIf="movie.overview">{{ movie.overview }}</p>
    <p *ngIf="movie.release_date">{{ 'movie.releaseDate' | translate }}: <b>{{ movie.release_date | date:'longDate' }}</b></p>
    <p *ngIf="movie.genres">{{ 'movie.genres' | translate }}: {{ formatGenres(movie.genres) }}</p>
    <p *ngIf="movie.runtime">{{ 'movie.duration' | translate }}: {{ formatDuration(movie.runtime) }}</p>
    <p *ngIf="movie.production_countries">
      {{ 'movie.producedIn' | translate }}:
      <span *ngFor="let country of movie.production_countries; let last = last">{{formatListElement(country.name, last)}}</span>
    </p>
    <p *ngIf="movie.production_companies">
      {{ 'movie.producedBy' | translate }}:
      <span *ngFor="let company of movie.production_companies; let last = last">{{formatListElement(company.name, last)}}</span>
    </p>

    <app-tags class="movie__tags" [id]="movie.id" [title]="movie.title"></app-tags>
  </div>
</div>

<app-empty *ngIf="!movie && !loading"></app-empty>
<app-spinner *ngIf="loading"></app-spinner>
